.container {
  position: absolute;
  top: 25%;
  left: 45%;
  border: 3px solid black;
  width: 126px;
}
.block-input {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin: 5px;
}
input {
  border: 2px solid black;
}
.block-digits {
  display: flex;
  flex-wrap: wrap;
}
.block {
  display: flex;
  flex-direction: column;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  text-align: center;
  background-color: cornflowerblue;
  color: white;
}
.block:hover {
  cursor: pointer;
}
