.container {
}
.title {
  display: flex;
  align-items: center;
}
.triangle {
  margin: 0px 10px;
  cursor: pointer;
}
.rotate{
  transform: rotate(90deg);
} 
.element {
  margin: 0px 40px;
  width: 400px;
}
