body {
  width: 511px;
  height: 870.19px;
  box-shadow: 0px 2px 6px rgba(20, 20, 43, 0.04);
  font-family: "Montserrat", sans-serif;
  padding: 2px;
}
.container {
  display: block;
}
.head {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 37px;
  line-height: 45px;
}
.rating {
  display: flex;
  align-items: center;
  margin-top: 70px;
}
.text {
  margin-right: 9px;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.star {
  width: 20px;
  height: 20px;
  align-items: center;
  text-align: center;
  margin-left: 5px;
}
.items {
  display: flex;
  flex-direction: column;
}
.name {
  border: none;
  margin-top: 40px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
}
.items-text {
  margin-top: 40px;
  color: #1a1a1a;
  height: 51px;
  border: none;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 14px;
  line-height: 17px;
  border-bottom: 1px solid #d6d6d6;
  padding-bottom: 10px;
  resize: none;
}

.load-photo {
  margin-top: 40px;
}
.select-photo {
  box-sizing: border-box;
  padding: 35px;
  margin-top: 10px;
  border: 1px solid #d6d6d6;
  display: flex;
  width: 510px;
  height: 87.22px;
  align-items: center;
}
.text-select-photo {
  margin-left: 17px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #5a5a5a;
}
.url {
  color: #5a5a5a;
}
.images img {
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
}
.btn {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
  color: white;
  width: 510px;
  height: 50px;
  background: #1a1a1a;
  border: none;
}
.politics {
  display: flex;
  margin-top: 20px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 140%;
  color: #5a5a5a;
}
.chk-box {
  width: 15px;
  height: 15px;
}
.text-politics {
  margin-left: 13px;
}

input[type="checkbox"]:checked,
input[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

input[type="checkbox"]:checked + label,
input[type="checkbox"]:not(:checked) + label {
  display: inline-block;
  position: relative;
  padding-left: 28px;
  cursor: pointer;
}
input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0px;
  top: 1px;
  width: 15px;
  height: 15px;
  border: 1px solid black;
  background-color: black;
}

input[type="checkbox"]:checked + label:before,
input[type="checkbox"]:not(:checked) + label:before {
  border-radius: 0px;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  content: "";
  position: absolute;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  transition: all 0.1s ease;
}

input[type="checkbox"]:checked + label:after,
input[type="checkbox"]:not(:checked) + label:after {
  left: 3px;
  top: 3px;
  width: 10px;
  height: 5px;
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

input[type="checkbox"]:not(:checked) + label:after {
  opacity: 0;
}

input[type="checkbox"]:checked + label:after {
  opacity: 1;
}
