.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0px 20px;
}

.triangle {
  margin: 0px 10px;
  cursor: pointer;
  transition-duration: 0.2s;
  transform: rotate(90deg);
}
.rotate {
  transition-duration: 0.2s;
  transform: rotate(270deg);
}
.element {
  height: 0;
  overflow: hidden;
  transition-property: height;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  margin: 0px 20px;
  /* margin-bottom: 10px; */
  color: burlywood;
}
.block {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(255, 255, 255);
  color: white;
  background-color: rgb(54, 54, 54);
  width: 600px;
}
