/* Атрибут не найден. target не атрибут.  */
/* [target] {
  font-family: sans-serif;
} */
/* Цвет пунктов меню черный. Для a приоритета не хватает поэтому цвет остается стандартный */
.menu-item {
	color: black; 
}


/* Не работает так как у menu-list нет ребенка а */
/* .menu-list > a {
  font-style: italic;
} */

/* изменение размера шрифта по атрибуту. если добавить # применится к ссылке
[href="meet-css"] {
	font-size: 20px;
} */
/* ничего не делает. Ошибка в порядке указания селекторов */
/* a body {
	text-transform: uppercase; 
} */
